<div class="file-uploader-summary">
    <div class="file-uploader-preview">
        <a class="file-uploader-thumbnail" attr="href: $file.url, target: '_blank'">
            <img attr="src: $file.url, alt: $file.name"/>
        </a>
        <div class="file-uploader-filename" text="$file.name"/>
        <div class="file-uploader-meta">
            <text args="$file.size"/>
        </div>
        <div class="file-uploader-actions">
            <button type="button" class="action-remove" data-role="delete-button"
                    attr="title: $t('Delete image')"
                    click="$file.remove">
                <span translate="'Delete'"/>
            </button>
        </div>
    </div>
</div>
