<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="GardenLawn_MediaGallery::mediagallery" title="Media Gallery" sortOrder="50">
                    <resource id="GardenLawn_MediaGallery::mediagallery_items" title="Galleries" sortOrder="10">
                        <resource id="GardenLawn_MediaGallery::gallery_save" title="Save Gallery" sortOrder="10" />
                        <resource id="GardenLawn_MediaGallery::gallery_delete" title="Delete Gallery" sortOrder="20" />
                        <resource id="GardenLawn_MediaGallery::asset_upload" title="Upload Assets" sortOrder="30" />
                    </resource>
                    <resource id="GardenLawn_MediaGallery::assets" title="Media Gallery Assets" sortOrder="20" /> <!-- Jeśli jest oddzielny listing zasobów -->
                </resource>
            </resource>
        </resources>
    </acl>
</config>
