<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="GardenLawn\MediaGallery\Api\Data\GridInterface" type="GardenLawn\MediaGallery\Model\Grid"/>
    <virtualType name="GardenLawn\MediaGallery\Model\ResourceModel\Grid\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">gardenlawn_mediagallery</argument>
            <argument name="resourceModel" xsi:type="string">GardenLawn\MediaGallery\Model\ResourceModel\Grid</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="mediagallery_record_grid_list_data_source" xsi:type="string">
                    GardenLawn\MediaGallery\Model\ResourceModel\Grid\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="mediagallery_record_comment_list_data_source" xsi:type="string">
                    GardenLawn\MediaGallery\Model\ResourceModel\MediaGalleryComment\MediaGalleryComment\Collection
                </item>
            </argument>
        </arguments>
    </type>
</config>
