<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="gardenlawn_mediagallery_listing_data_source" xsi:type="string">GardenLawn\MediaGallery\Model\ResourceModel\Gallery\Grid\Collection</item>
                <item name="gardenlawn_mediagallery_asset_listing_data_source" xsi:type="string">GardenLawn\MediaGallery\Model\ResourceModel\Asset\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <!-- Define constructor arguments for the concrete Grid Collection class -->
    <type name="GardenLawn\MediaGallery\Model\ResourceModel\Gallery\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">gardenlawn_mediagallery</argument>
            <argument name="resourceModel" xsi:type="string">GardenLawn\MediaGallery\Model\ResourceModel\Gallery</argument>
        </arguments>
    </type>

    <virtualType name="GardenLawn\MediaGallery\Model\ResourceModel\Asset\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">media_gallery_asset</argument>
            <argument name="resourceModel" xsi:type="string">GardenLawn\MediaGallery\Model\ResourceModel\Asset</argument>
        </arguments>
    </virtualType>

    <!-- Rejestracja komendy CLI -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="gardenlawnPopulateAssetLinks" xsi:type="object">GardenLawn\MediaGallery\Console\Command\PopulateAssetLinks</item>
            </argument>
        </arguments>
    </type>
</config>
