<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="GardenLawn\MediaGallery\Api\Data\GalleryInterface" type="GardenLawn\MediaGallery\Model\Gallery" />
    <preference for="GardenLawn\MediaGallery\Api\GalleryRepositoryInterface" type="GardenLawn\MediaGallery\Model\GalleryRepository" />
</config>
