<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="gardenlawn_mediagallery" frontName="gardenlawn_mediagallery">
            <module name="GardenLawn_MediaGallery" before="Magento_Backend" />
        </route>
        <!-- Add routes for AssetLink CRUD operations -->
        <route id="gardenlawn_mediagallery_assetlink" frontName="gardenlawn_mediagallery_assetlink">
            <module name="GardenLawn_MediaGallery" before="Magento_Backend" />
        </route>
    </router>
</config>
